# Configuración del Backend (FastAPI / Python recomendado)
PORT=8000
ENVIRONMENT=development

# Credenciales de Firebase (Ruta al archivo JSON descargado desde GCP/Firebase)
FIREBASE_CREDENTIALS_PATH=./config/firebase-adminsdk.json

# Opcional: ID y Región del proyecto de Google Cloud para Vertex AI
GOOGLE_CLOUD_PROJECT=demoa-c585c
GOOGLE_CLOUD_LOCATION=us-central1
GEMINI_API_KEY=tu_llave_aqui

